# Based on https://github.com/systemd/systemd/issues/481#issuecomment-544337575,
# but uses "pppd call" to get to the options, and "pppd linkname" + PIDFile=,
# as well as different ordering.

[Unit]
Description=PPP connection for %I
Documentation=man:pppd(8)
Before=shutdown.target
After=systemd-networkd.service network-pre.target
PartOf=systemd-networkd.service
Conflicts=shutdown.target
Wants=network.target
DefaultDependencies=no

[Service]
Type=forking
ExecStart=/sbin/pppd call %I linkname %I updetach
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/ppp-%I.pid
StandardOutput=null
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/run/
ReadWritePaths=/var/log/ppp-ipupdown.log
ProtectKernelTunables=yes
ProtectControlGroups=yes
SystemCallFilter=~@mount
SystemCallArchitectures=native
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
